body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.texto-card {
  font-weight: bold;


}

.carta-contenedor {
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 20rem;
}

.nav-intensidad:hoover{
  font-weight: bold;
}

.precio {
  font-weight: bold;
}

.imagen-conedor {
  height: 15rem;
  width: 10rem;
  position: relative;
}


.imagen-tarjeta {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}

.rating-texto {
  font-size: 10px;
}

.imagen-detail {
  width: 60%;
}

.stock-texto {
  font-size: 10px;
}

.boton-count {
  border-radius: 100%;
  width: 35px;
  height: 35px;
  border: none;
  font-size: 21px;
  color: white;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-count:hover {
  opacity: 0.75;
}